header{
    width: auto;
    background-color: var(--color-bg);
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 15px 235px 0 235px;
    &__left{
        display: flex;
        &-en{
            display: flex;
            padding-left: 50px;
            margin-top: 25px;
        }
    }
    &__center{
        display: flex;
        margin-top: 25px;
    }
    &__right{
        display: flex;
        &-icon{
            &-img{
                width: 60px;
                cursor: pointer;
            }
        }
        &Tel{
            padding-right: 50px;
            &Tell{
                font-style: 20px;
                cursor: pointer;
            }
        }
    }
    &__titleEN{
        font-size: 20px;
        padding-left: 20px;
    }
    &__linkEN{
        list-style-type: none;
    }
    &__link{
        list-style-type: none;
    }
    &__title{
        padding-left: 50px;
        font-size: 18px;
        transition: transform 0.3s ease;
        &:hover{
            font-size: 20px;
        }
    }
    &-icon{
        width: 104px;
        cursor: pointer;
    }
    &-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}